.shadow{
  position: relative;
  width: 300px;
  height: 20px;
  margin-top: 15px;
  background-color: rgba(7, 37, 56, 1);
  align-content: center;
  justify-content: center;
  align-items: center;
  ;
  border-radius: 20px;
  
 }

 .shadow:before,
 .shadow:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg,#5041c0,#0000ff,#00ff00,#082b6d,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
  background-size: 400% 400%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 20px;
  z-index: -1;
  animation: animate 3s ease alternate infinite;
 }
 .shadow:after{
  filter: blur(5px);
 }
 @keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}