.page {
  background-color: #dbcbbc;
  color: #000;
  width: 100%;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  overflow: hidden;
}
.container {
    width: 50%;
    border: 3px solid red;
    margin: 0 auto;
    

}
.logo {
    width: 150px;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto 15px;
}