.page{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.servico__item {
    background: #1E403C;
    width: 241px !important;
    height: 100.6px !important;
}
.servicos__item_contain{
    display: flex;
}